<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>More on my HTML project</h1>
    <p>
        This is a great chance for me to
        work on my formatting skills in HTML.
    </p>
    <p>
        If you want to listen to some indie rock, check out
        <a href="https://open.spotify.com/playlist/13fdsyAsnESzjP8OInBq6x?si=d5d9d99e805c4809">Indie Rock Curation</a>
    </p>
    <div>
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like playing guitar!</div>
</footer>
