p {
    margin: 3px;
    padding: 3px;
    border: 3px solid black;
    width: 187px;
    height: 110px;
    background-color: rgb(255, 166, 0);
}

.my-grid {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  20em;
}

.has-blue-background {
    background-color: #1d91da;
    border: 1px solid #9d62eb;
}

.has-yellow-background {
    background-color: #f7ef0a;
    border: 1px solid #E38C1E;
}
